
* {
    box-sizing: border-box;
    
}

body{
    background: #ffffff;
    color :#000000;
    padding-top: 56px;
}

/* navbar */

.navbar{
    background:#cde7ffef;
}

.nav-link{
    color: #000;
    font-size: 1.15rem;
}



/* Estilos de contenedor principal*/
.pagewrap {
    background: #cde7ff;
    color :#000000;
    
}

#title-header{
    font-size: 5rem;
    font-family: Bitter;
    margin-top: 12rem;
    color: #0a182c;
}


@media screen and (min-width: 513px) and (max-width: 1000px) {
    #title-header {
      font-size: 3rem;
      font-family: Bitter;
    }
  }


.content-title{
    text-align: center;
}

.title-text{
    font-size: 2rem;
    margin-top: 12rem;
    font-family: Bitter;
    color: #0a182c;
}

.body-text{
    font-family:system-ui;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    text-align: justify;
}

.content-text{
    font-family:sistem-ui;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}


.hr-title {
    border: none;
    border-top: 5px solid #ae00ff; 
    margin: 20px 0;
    width: 30%;
    margin-left: 35%;
}


.hr-text {
    border:none;
    border-top: 5px solid #ae00ff; 
    margin: 20px 0;
    width: 25%;
    
}

.expanded {
    width: 70%; /* Ancho aumentado cuando se activa la clase */
    margin-left: 15%; /* Ajusta el margen para centrar la línea cuando se expande */
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.logo{
    text-align: center;
    font-size: 4em;
}

.logo span{
    color: #fb5a00;
}

.contact-wrapper{
    box-shadow: 0 0 20px 0 rgb(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form{
    background: #0a182c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Separar form en 2  */ 

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form .block{
    grid-column: 1 / 3;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
    color: #fff;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #ffffff;
    border-bottom: 1px solid #ae00ff;

}

.contact-form form button {
    background-color:#4bbef3;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 25px;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #2b6c8a;
    color: #fff;
    transition: background-color 1s ease-out;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -ms-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info{
    background: #88579e;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

.contact-info li{
    font-size: 1rem;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li{
    padding: .3em;
}

/*Pantalla grande*/

@media (min-width:  700px){
    body{
        padding: 0;
    }
    
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding-top: 3em;
    }
    .contact-info img{
        display: grid;
        grid-template-columns: auto;
        width: 400px;
        height: 400px;
    }
}

#mail{
    opacity: 0;
}

.form input{
 width: 50%;

}